@model Model.ChangePassword

@{
    ViewData["Title"] = "ChangePassword";
}

<h1>ChangePassword</h1>
@{
    if (ViewBag.Message!=null)
    {
    <div>@ViewBag.Message</div>
    }

    if (ViewBag.Error!=null)
    {
    <div>@ViewBag.Error</div>
    }
}
<hr />
<style>
    input#newPassword {
    margin-left: 25px;
}
   input#oldPassword {
    margin-left: 25px;
}
h1{
    text-align: center;
    color: cadetblue;
    background-color: aliceblue;
}
    .password{
        background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    width: 30%;
    height: 265px;
    margin: auto;
    text-align: center;
    padding: 22px;
    font-family: sans-serif;
    line-height: 3rem;
    border-radius: 7px;
    display:flex;
    flex-direction:column;
    }

    .btn-primary{
        background-color: aliceblue;
    margin-top: 7px;
}
    }
   input#newPassword#oldPassword{
        margin-right:25px;
    }
    .form-group{
            display: flex;
    align-items: center;
    justify-content: space-between;
    }
    .center{
        justify-content: center !important;
    }
    form{
        padding:10px;
    }
        .form-control{
                border: aliceblue;
    border-radius: 4px;
}
        }
</style>
<div class="row">
    <div class="col-md-4 password">
        <form asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="oldPassword" class="control-label"></label>
                <input asp-for="oldPassword" class="form-control" />
                <span asp-validation-for="oldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="newPassword" class="control-label"></label>
                <input asp-for="newPassword" class="form-control" />
                <span asp-validation-for="newPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="confirmPassword" class="control-label"></label>
                <input asp-for="confirmPassword" class="form-control" />
                <span asp-validation-for="confirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group center">
                <input type="submit" asp-route-id="@User.GetUserId()" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


