@model Model.ChangePassword

@{
    ViewData["Title"] = "ChangePassword";
}

<h1>ChangePassword</h1>
@{
    if (ViewBag.Message!=null)
    {
        <div>@ViewBag.Message</div>
    }

    if (ViewBag.Error!=null)
    {
        <div>@ViewBag.Error</div>
    }
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="oldPassword" class="control-label"></label>
                <input asp-for="oldPassword" class="form-control" />
                <span asp-validation-for="oldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="newPassword" class="control-label"></label>
                <input asp-for="newPassword" class="form-control" />
                <span asp-validation-for="newPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="confirmPassword" class="control-label"></label>
                <input asp-for="confirmPassword" class="form-control" />
                <span asp-validation-for="confirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" asp-route-id="@User.GetUserId()" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


