@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
welcome @User.GetUserName()
<a asp-controller="Account"  asp-action="SendMoney">Send</a> 
